<footer class="footer">
    <div class="footer__menu">
        <ul class="menu__list">
            <li class="list__item"><a href="#">Menu 1</a></li>
            <li class="list__item"><a href="#">Menu 2</a></li>
            <li class="list__item"><a href="#">Menu 3</a></li>
            <li class="list__item"><a href="#">Menu 4</a></li>
            <li class="list__item"><a href="#">Menu 5</a></li>
            <li class="list__item"><a href="#">Menu 6</a></li>
        </ul>
    </div>

    <div class="footer__contact">
        <p class="contact__phone"><strong>+7 (495) 000-00-00</strong></p>
        <p class="contact__hours">mon-fri 9:00 - 18:00</p>
        <p class="contact__address">Moscow, <br> ul. Name d. 1</p>
        <p class="contact__email"><strong>Email@email.ru</strong></p>

        <div class="footer__social-icons">
            <a href="#" class="social-icons__img"><fa-icon [icon]="faFacebook" class="fa-2x"></fa-icon></a>
            <a href="#" class="social-icons__img"><fa-icon [icon]="faVk" class="fa-2x"></fa-icon></a>
            <a href="#" class="social-icons__img"><fa-icon [icon]="faTwitter" class="fa-2x"></fa-icon></a>
        </div>
    </div>

    <div class="footer__bottom">
        <hr class="bottom__divider">
        <p class="bottom__copyright">© 2021-2021 Company name. All rights reserved</p>
        <a href="#" class="bottomr__privacy-policy">Privacy Policy</a>
    </div>

    <div class="footer__logo">
        <picture>
            <source class="logo__logo-img" srcset="assets/emazon_logo.webp" type="image/webp" media="(max-width: 768px)">
            <img src="logo.png" alt="Logo" class="logo__logo-img">
        </picture>
    </div>
</footer>