<ng-container *ngIf="isTextarea; else inputTemplate">
    <textarea
        class="textarea"
        [ngClass]="{'textarea--invalid': error}"
        [(ngModel)]="value"
        [placeholder]="placeholder"
        [required]="required"
        (input)="onInput($event)"
    ></textarea>
</ng-container>
<ng-template #inputTemplate>
    <input
    class="input"
    [ngClass]="{'input--invalid': error}"
    [type]="type"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    [required]="required"
    (input)="onInput($event)"
    />
</ng-template>