<details class="brand-selector" >
    <summary class="brand-selector__summary">{{titleSelect}}</summary>
    <ul class="brand-selector__list" (scroll)="scrollDownMethod($event)">
        <li class="brand-selector__item" *ngFor="let brand of brands">
            <label class="brand-sel  ector__label">
                <input type="checkbox" name="fc" class="brand-selector__checkbox"
                [disabled]="brand.brandId ? blockCheckboxCategory(brand.brandId) : null"
                (change)="brand.brandId ? getValueToCategory(brand.brandId) : null" 
                />
                {{ brand.brandName }}
            </label>
        </li>
    </ul>
</details>