<div class="container">
    <div class="card">
        <div class="card-content">
            <form [formGroup]="articleForm" (ngSubmit)="submitArticle()">
                <div class="mb">
                    <label class="card-content__form-label">
                        Nombre del artículo
                    </label>
                    <input type = "text" formControlName = "articleName" placeholder = "Enter article name" class="card-content__form-control">
                    
                </div>
                <div class="mb">
                    <label class="card-content__form-label">
                        Descripción del artículo
                    </label>
                    <textarea formControlName = "articleDescription" class="card-content__form-text-area" placeholder="Enter article description"></textarea>
                </div>
                <div class="mb">
                    <label class="card-content__form-label">
                        Cantidad del artículo
                    </label>
                    <input type = "number" formControlName = "articleQuantity" placeholder = "Enter article quantity" class="card-content__form-control">
                </div>
                <div class="mb">
                    <label class="card-content__form-label">
                        Precio del artículo
                    </label>
                    <input type = "number" formControlName = "articlePrice" placeholder = "Enter article quantity" class="card-content__form-control">
                </div>
                <div class="mb">
                    <app-multi-select [titleSelect]="'Selecciona las categorías'" [categories] = "categories" (scrollDown)="onScrollDownCategory()" (selectedCategoriesChange)="onSelectedCategoriesChange($event)"></app-multi-select>
                </div>
                <div class="mb">
                    <app-multi-select-brand [titleSelect]="'Selecciona la marca'" [brands]= "brands" (scrollDown) = "onScrollDownBrand()"  (selectedBrandsChange) = "onSelectedBrandsChange($event) "></app-multi-select-brand>
                </div>
                <app-buttom [textButton]="textButton"></app-buttom>
            </form>
        </div> 
    </div>
</div> 


    