<app-header-stock (toggleSidenav)="onToggleSidenav()" ></app-header-stock>
<app-side-nav [isOpen]="isSidenavOpen"  (sectionSelected)="onSectionSelected($event)"></app-side-nav>
<div class="container">
    <div class="content" *ngIf="selectedSection === 'categories'">
        <app-title [title]="'Lista de Categorías'"></app-title>
        <div class="container__button--newCategory">
            <app-buttom (click)="openModal()" [textButton]="'+'"></app-buttom>
        </div>
        <app-table-category></app-table-category>
        <div class="modal" *ngIf="modalSwitch">
            <!-- <app-title [title]="'Añade una Categoría'"></app-title> -->
            <div>
                <app-buttom class="close" (click)="closeModal()" [textButton]="'X'"></app-buttom>
            </div>
            <app-category-form [textButton] = "'Enviar categoría'" ></app-category-form>
        </div>
    </div>
    
    <div class="content" *ngIf="selectedSection === 'brands'">
        <app-title [title]="'Añade una Marca'"></app-title>
        <app-brand-form [textButton] = "'Enviar marca'"></app-brand-form>
        <app-title [title]="'Lista de Marcas'"></app-title>
        <app-table-brand></app-table-brand>
    </div>
</div>
<app-footer-stock></app-footer-stock>