@import '../../../shared/tokens/colors';
@import '../../../shared/tokens/typografhy';

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.btn-container__btn{
    cursor: pointer;
    border: none;
    background-color: $color_purple;
    padding: 10px;
    color: $color_white;
    border-radius: 4px;
    font-size: $main_text_body_l_regular_size;
    line-height: $main_text_body_l_line_height;
    font-weight: $main_text_font_weight;

    &:hover {
      background-color: $color_purple_hover;
    }
}