$color_purple: #9D3FE7;
$color_purple_hover:#AE60EB;
$color_black: #1A141F;
$color_hint-text: #4B3A5A;
$color_border: #ABA7AF;
$color_disable: #D4D2D5;
$color_spacer: #D9D1E0;
$color_spacer-light: #E5E0EB;
$color_bg-light-grey: #F5F3F7;
$color_white: #FFFFFF;
$color_error: #D51A52;
$color_attention: #FF9500;
$color_approval: #00B998;
$color_link: #0F0BAB;