<details class="category-selector" >
    <summary class="category-selector__summary">{{titleSelect}}</summary>
    <ul class="category-selector__list" (scroll)="scrollDownMethod($event)">
        <li class="category-selector__item" *ngFor="let category of categories">
            <label class="category-sel  ector__label">
                <input type="checkbox" name="fc" class="category-selector__checkbox" 
                [disabled]="category.idCategory ? blockCheckboxCategory(category.idCategory) : null"
                (change)="category.idCategory ? getValueToCategory(category.idCategory) : null"
                />
                {{ category.nameCategory }}
            </label>
        </li>
    </ul>
</details>