@import '../../../shared/tokens/colors';
@import '../../../shared/tokens/typografhy';

.container{
    
    background-color: $color_white;
    position: relative;
    padding: 3rem;
    border-radius: 2rem;
    border: 1px solid $color_spacer-light;
    box-shadow: 1px 10px 10px -10px $color_black ;
    margin: 5rem 0;
    
}

.ButtonDiv{
    

    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.form__input{
    margin-bottom: 1rem;
}
