@import '../../../shared/tokens/colors';
@import '../../../shared/tokens/typografhy';

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    padding: 0px 16px;
    background-color: $color_purple;
    color: $color_white;

    &__logo {
        text-align: center;
    
        .logo__logo-img {
            width: 100px;
        }
    }

    &__menu:hover {
        cursor: pointer;
    }
}